.container {
  display: flex;
  margin-top: 6px;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.letterBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.absent {
  background-color: rgb(120, 124, 126);
}

.misplaced {
  background-color: rgb(201, 180, 88);
}

.correct {
  background-color: rgb(106, 170, 100);
}

.empty {
  border: 2px solid rgb(211, 214, 218);
  width: 58px;
  height: 58px;
  color: black;
}

.filled {
  border-color: #777;
  animation-duration: 0.15s;
  animation-name: growShrink;
}
@keyframes growShrink {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}
